<div class="row" style="margin-top: 3em">
  <div class="col-md-6 index">
    <i class="fa fa-music fa-5x"></i><h1 class="share "> Discover Music </h1>
    <i class="fa fa-heart fa-5x"></i><h1 class="share "> You Might Love!</h1>
    <i class="fa fa-list-alt fa-5x"></i><h1 class="share "> Create PlayLists </h1>
    <i class="fa fa-users fa-5x"></i><h1 class="share "> Share With Friends</h1>
  </div>
  <div class="col-md-4 para">
    <a href="/start" style="padding: 1em 1em 1em 1em;margin-left: 1em" type="button" class="btn btn-success btn-success_welcome btn-lg" aria-label="Left Align">
      <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span> Discover Music!
    </a>

    <p class="lead"> Just Experience a Survey and know what kind of music you might love</p>
    <p class="lead"> Its pretty simple, we are going to play some music with every question And</p>
    <p class="lead"> All you have of do is say <em style="color: #ffd801;">"love It"</em> or <em style="color: #000000;">"Nah! not my kind"</em> or <em style="color: #33f73c;">"Like It"</em> or say <em style="color: #4803a5;">"Horrible!</em>"</p>
  </div>
</div>
